NET "sel<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "sel<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "sel<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "sel<3>" LOC = P131 | IOSTANDARD = LVTTL;

NET "sel<4>" LOC = P144 | IOSTANDARD = LVTTL;
NET "sel<5>" LOC = P143 | IOSTANDARD = LVTTL;
NET "sel<6>" LOC = P142 | IOSTANDARD = LVTTL;
NET "sel<7>" LOC = P141 | IOSTANDARD = LVTTL;

NET "sel<8>" LOC = P85 | IOSTANDARD = LVTTL;
NET "sel<9>" LOC = P84 | IOSTANDARD = LVTTL;
NET "sel<10>" LOC = P88 | IOSTANDARD = LVTTL;
NET "sel<11>" LOC = P87 | IOSTANDARD = LVTTL;

NET "sel<12>" LOC = P75 | IOSTANDARD = LVTTL;
NET "sel<13>" LOC = P74 | IOSTANDARD = LVTTL;
NET "sel<14>" LOC = P79 | IOSTANDARD = LVTTL;
NET "sel<15>" LOC = P78 | IOSTANDARD = LVTTL;

NET "seg<0>" LOC = P120 | IOSTANDARD = LVTTL;
NET "seg<1>" LOC = P119 | IOSTANDARD = LVTTL;
NET "seg<2>" LOC = P117 | IOSTANDARD = LVTTL;
NET "seg<3>" LOC = P118 | IOSTANDARD = LVTTL;
NET "seg<4>" LOC = P121 | IOSTANDARD = LVTTL;
NET "seg<5>" LOC = P114 | IOSTANDARD = LVTTL;
NET "seg<6>" LOC = P116 | IOSTANDARD = LVTTL;
NET "seg<7>" LOC = P100 | IOSTANDARD = LVTTL;

NET "readyread" LOC = P34 | IOSTANDARD = LVTTL | PULLDOWN;
NET "readyhigh" LOC = P35 | IOSTANDARD = LVTTL;

NET "aread" LOC = P23 | IOSTANDARD = LVTTL | PULLDOWN;
NET "bread" LOC = P26 | IOSTANDARD = LVTTL | PULLDOWN;
NET "cread" LOC = P29 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dread" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;

NET "ahigh" LOC = P24 | IOSTANDARD = LVTTL;
NET "bhigh" LOC = P27 | IOSTANDARD = LVTTL;
NET "chigh" LOC = P30 | IOSTANDARD = LVTTL;
NET "dhigh" LOC = P33 | IOSTANDARD = LVTTL;

NET "inv1" LOC = P123 | IOSTANDARD = LVTTL;
NET "inv2" LOC = P11 | IOSTANDARD = LVTTL;
NET "inv3" LOC = P104 | IOSTANDARD = LVTTL;

NET "out" LOC = P111 | IOSTANDARD = LVTTL;
